.itemsContenedor{
    margin: 20px;
    padding: 20px;
    width: 540px;
    background-color: #F0EBD8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsContenedor img{
    width: 500px;
    margin-bottom: 10px;
}

.itemsContenedor a{
    color: red;
}

.filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.filtros p{
    color: #f0ebd8 !important;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}